.grid {
  grid-template-areas: "Area";
}

.body {
  height: 50px;
  max-height: 50px;
  max-width: 0px;
  background-image: url('../images/Group-7.png');
  background-position: 50% 0%;
  background-size: cover;
  text-shadow: 1px 1px 4px #000;
  -o-object-fit: contain;
  object-fit: contain;
}

.text-block {
  position: absolute;
  left: 5.42%;
  top: 3.33%;
  right: 45.69%;
  bottom: -9.89%;
  display: block;
  padding-left: 0px;
  float: none;
  font-family: Ttnorms, sans-serif;
  color: #fff;
  font-size: 30px;
  text-shadow: none;
}

.text-block-2 {
  position: absolute;
  left: 5.42%;
  top: 26.22%;
  right: 53.12%;
  bottom: -32.78%;
  font-family: Montserrat, sans-serif;
  color: #051422;
  font-size: 80px;
  line-height: 100px;
  font-weight: 600;
  letter-spacing: normal;
  text-shadow: none;
  white-space: normal;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block-3 {
  position: absolute;
  left: 5.76%;
  top: 62.22%;
  right: 53.82%;
  bottom: 31.22%;
  font-family: Montserrat, sans-serif;
  color: #7f8994;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-shadow: none;
}

.image {
  position: absolute;
  left: 58.69%;
  top: 24.44%;
  right: 8.61%;
  bottom: 16.44%;
}

.submit-button {
  position: absolute;
  left: 450px;
  top: 73.67%;
  right: 55.35%;
  bottom: 20.67%;
  width: 206px;
  height: 51px;
  margin-right: 0px;
  margin-left: 20px;
  border-radius: 15px;
  background-color: #020e18;
  background-image: linear-gradient(125deg, #60abff, #c260ff);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  -o-object-fit: fill;
  object-fit: fill;
}

.field-label {
  position: absolute;
  left: 5.49%;
  top: 73.67%;
  right: 70.42%;
  bottom: 20.67%;
  text-shadow: none;
}

.text-field {
  position: absolute;
  left: 5.42%;
  top: 73.67%;
  right: 70.42%;
  bottom: 20.67%;
  width: 348px;
  height: 51px;
  border-radius: 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  font-family: Montserrat, sans-serif;
  color: #7f8994;
  font-size: 18px;
  font-weight: 500;
}

@font-face {
  font-family: 'Ttnorms';
  src: url('../fonts/TTNorms-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}